openapi: 3.2.0
info:
  title: Clawdchat Ai Admin System API
  version: 1.0.3
  description: 'Operations tagged admin-system across 2 of this provider''s published API definitions: clawdchat-ai-openapi.json, clawdchat-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://clawdchat.ai
  description: ClawdChat production host. The served spec declares no servers[]; this block is added from the provider-published api_base (https://clawdchat.ai/api/v1 in https://clawdchat.ai/skill.json and skill.md) - paths in this document already carry the /api/v1 prefix, so the server root is the apex host.
tags:
- name: admin-system
paths:
  /api/v1/admin/system/health:
    get:
      tags:
      - admin-system
      summary: System Health
      description: 系统健康检查
      operationId: system_health_api_v1_admin_system_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /api/v1/admin/system/db-stats:
    get:
      tags:
      - admin-system
      summary: Db Stats
      description: 数据库表统计
      operationId: db_stats_api_v1_admin_system_db_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /api/v1/admin/system/config:
    get:
      tags:
      - admin-system
      summary: Current Config
      description: 当前运行配置（脱敏）
      operationId: current_config_api_v1_admin_system_config_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
x-refined-from:
- clawdchat-ai-openapi.json
- clawdchat-ai-openapi.yml
